<!DOCTYPE html>
<!--
 Just a demo list with heatmaps. goto the democontroller the change the factors.
-->
<html>

    <head>
        <style>body { background-color: red; }</style>
    </head>

    <body>
        <div>
            <img src="{{ url('heatmap_transparent') }}" />
        </div>
        <div>
            <img src="{{ url('heatmap_blackwhite') }}" />
        </div>
        <div>
            <img src="{{ url('heatmap_rainbow') }}" />
        </div>
        <div>
            <img src="{{ url('heatmap_resampled') }}" />
        </div>
    </body>

</html>